.node-red/.flows_SCUTTLE-15.json.backup
[{"id":"ee1a8b07.322c58","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"79a684c6.da2b1c","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"ebcfcbf0.460c38","type":"tab","label":"Joystick Control","disabled":true,"info":""},{"id":"a8c6970c.81bb88","type":"tab","label":"Lab 4 - Motor Drivers & Inverse Kinematics","disabled":true,"info":""},{"id":"32908a33.d5c126","type":"tab","label":"Lab 5","disabled":true,"info":""},{"id":"bd840c7b.646a5","type":"tab","label":"Lab 6","disabled":false,"info":""},{"id":"4a1d43f4.ff073c","type":"tab","label":"LIDAR Map","disabled":false,"info":""},{"id":"32980006.220a9","type":"tab","label":"Color Tracking Calibration","disabled":false,"info":""},{"id":"1f2293d3.a3d93c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c73f4b2.c3e11b8","type":"group","z":"ee1a8b07.322c58","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b7dd63d5.eb31a"],"x":714,"y":179},{"id":"fb429125.af97","type":"group","z":"79a684c6.da2b1c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f68f902f.c83ee"],"x":654,"y":239},{"id":"4d91f38.15b0e0c","type":"group","z":"a8c6970c.81bb88","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6b8d1bf2.b36334"],"x":694,"y":99},{"id":"ed54efb2.d6c62","type":"group","z":"32908a33.d5c126","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c2986491.3cc948"],"x":654,"y":139},{"id":"538ac7a9.07c398","type":"group","z":"bd840c7b.646a5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["66540f7c.9994b"],"x":674,"y":139},{"id":"f1ffebcd.642478","type":"group","z":"1f2293d3.a3d93c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["eef42492.489e48"],"x":694,"y":199,"w":192,"h":82},{"id":"67410347.ad2b7c","type":"ui_tab","name":"Lab 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"d98bce97.527ed","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5a97f8a5.7eafb8","type":"ui_group","name":"Shape Selection","tab":"b1da7f2d.e0155","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f98083a.e9a2d8","type":"ui_tab","name":"Lab 3","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2d1fcfc1.41871","type":"ui_group","name":"Robot Diagnostics","tab":"7f98083a.e9a2d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1adca8c0.9d8cb7","type":"ui_spacer","name":"spacer","group":"5a97f8a5.7eafb8","order":1,"width":1,"height":1},{"id":"4a443ce3.f23734","type":"ui_group","name":"Compass Reading","tab":"7f98083a.e9a2d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b5c05cb9.3a8b7","type":"ui_group","name":"Joystick","tab":"fef5ae81.11f63","order":1,"disp":false,"width":"7","collapse":false},{"id":"fef5ae81.11f63","type":"ui_tab","name":"Joystick","icon":"adjust","order":3,"disabled":false,"hidden":false},{"id":"c24ce1de.b2f11","type":"ui_tab","name":"Lab 4","icon":"dashboard","disabled":false,"hidden":false},{"id":"f2c4634c.02685","type":"ui_group","name":"Chassis Speed","tab":"c24ce1de.b2f11","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ef620fd.69319","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"1ea8fb97.f0f084","type":"ui_group","name":"Robot Diagnostics","tab":"8ef620fd.69319","order":1,"disp":true,"width":"6","collapse":false},{"id":"b907555e.908968","type":"ui_group","name":"Chassis Speeds","tab":"8ef620fd.69319","order":2,"disp":true,"width":"6","collapse":false},{"id":"93d5faf4.692358","type":"ui_group","name":"Wheel Speeds","tab":"8ef620fd.69319","order":3,"disp":true,"width":"6","collapse":false},{"id":"85b069dc.e411a8","type":"ui_tab","name":"Lab 6","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"977eb849.ce55b8","type":"ui_group","name":"Robot Diagnostics","tab":"85b069dc.e411a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f83969ff.c78d58","type":"ui_group","name":"Cartesian Coordinates","tab":"85b069dc.e411a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"53cc6e77.86395","type":"ui_group","name":"Polar Coordinates","tab":"85b069dc.e411a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"bfbd69a3.7f8268","type":"ui_group","name":"LIDAR Plot","tab":"5fb49e.81278b64","order":1,"disp":false,"width":"12","collapse":false},{"id":"5fb49e.81278b64","type":"ui_tab","name":"LIDAR Mapping","icon":"dashboard","disabled":false,"hidden":false},{"id":"cdfc2e26.64916","type":"ui_group","name":"Color Sliders","tab":"be2adfe.9f92d2","order":3,"disp":true,"width":"6","collapse":true},{"id":"826beb48.533878","type":"ui_group","name":"Values","tab":"be2adfe.9f92d2","order":2,"disp":true,"width":"6","collapse":false},{"id":"112a075e.b4c559","type":"ui_group","name":"Stream","tab":"be2adfe.9f92d2","order":1,"disp":true,"width":"12","collapse":false},{"id":"be2adfe.9f92d2","type":"ui_tab","name":"MJPG-Streamer","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1da7f2d.e0155","type":"ui_tab","name":"Shapes","icon":"dashboard","disabled":false,"hidden":false},{"id":"b7dd63d5.eb31a","type":"ui_gauge","z":"ee1a8b07.322c58","g":"c73f4b2.c3e11b8","name":"","group":"4a443ce3.f23734","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":220,"wires":[]},{"id":"456e45d2.03f09c","type":"inject","z":"ee1a8b07.322c58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":220,"wires":[["40da4c24.aa0194"]]},{"id":"40da4c24.aa0194","type":"file in","z":"ee1a8b07.322c58","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":220,"wires":[["b7dd63d5.eb31a"]]},{"id":"3e4bc61b.b20aca","type":"file in","z":"79a684c6.da2b1c","name":"","filename":"/tmp/Dir_NR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":400,"wires":[["e50443c2.f28c6"]]},{"id":"7385df81.9d0a4","type":"inject","z":"79a684c6.da2b1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["3e4bc61b.b20aca","1a1216a8.daa7b9","aab56d36.6236e"]]},{"id":"1a1216a8.daa7b9","type":"file in","z":"79a684c6.da2b1c","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":280,"wires":[["f68f902f.c83ee"]]},{"id":"f68f902f.c83ee","type":"ui_gauge","z":"79a684c6.da2b1c","g":"fb429125.af97","name":"","group":"2d1fcfc1.41871","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":280,"wires":[]},{"id":"e50443c2.f28c6","type":"ui_text","z":"79a684c6.da2b1c","group":"4a443ce3.f23734","order":3,"width":0,"height":0,"name":"Heading","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":400,"wires":[]},{"id":"2ba9c17.c81bf3e","type":"ui_gauge","z":"79a684c6.da2b1c","name":"Heading","group":"4a443ce3.f23734","order":2,"width":0,"height":0,"gtype":"compass","title":"Direction","label":"Degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":160,"wires":[]},{"id":"aab56d36.6236e","type":"file in","z":"79a684c6.da2b1c","name":"","filename":"/tmp/Deg_NR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":160,"wires":[["2ba9c17.c81bf3e"]]},{"id":"fcfdab90.e3e398","type":"ui_joystick","z":"ebcfcbf0.460c38","name":"Joystick","group":"b5c05cb9.3a8b7","order":1,"width":7,"height":5,"trigger":"all","timeInterval":"50","useThemeColor":false,"color":"#f10404","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":200,"y":140,"wires":[["c77ef1a0.d1b5d"]]},{"id":"c77ef1a0.d1b5d","type":"function","z":"ebcfcbf0.460c38","name":"selector","func":"msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["a075c338.4c942"]]},{"id":"a075c338.4c942","type":"join","z":"ebcfcbf0.460c38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":140,"wires":[["dcee2977.ed6268"]]},{"id":"dcee2977.ed6268","type":"json","z":"ebcfcbf0.460c38","name":"","property":"payload","action":"str","pretty":true,"x":760,"y":140,"wires":[["f5207313.822de"]]},{"id":"f5207313.822de","type":"udp out","z":"ebcfcbf0.460c38","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":940,"y":140,"wires":[]},{"id":"d1d7c0b4.66f3c","type":"inject","z":"a8c6970c.81bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["4f2f72f0.44eb6c","88e0e67f.7d5708"]]},{"id":"4f2f72f0.44eb6c","type":"file in","z":"a8c6970c.81bb88","name":"","filename":"/tmp/fVel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":240,"wires":[["afcc7981.c41218"]]},{"id":"afcc7981.c41218","type":"ui_chart","z":"a8c6970c.81bb88","name":"","group":"f2c4634c.02685","order":2,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":240,"wires":[[]]},{"id":"88e0e67f.7d5708","type":"file in","z":"a8c6970c.81bb88","name":"","filename":"/tmp/aVel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":320,"wires":[["1d6268d2.934a47"]]},{"id":"1d6268d2.934a47","type":"ui_chart","z":"a8c6970c.81bb88","name":"","group":"f2c4634c.02685","order":2,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":320,"wires":[[]]},{"id":"90f2018.57fdf","type":"inject","z":"a8c6970c.81bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[["965b35a8.e5f6e8"]]},{"id":"965b35a8.e5f6e8","type":"file in","z":"a8c6970c.81bb88","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":140,"wires":[["6b8d1bf2.b36334"]]},{"id":"6b8d1bf2.b36334","type":"ui_gauge","z":"a8c6970c.81bb88","g":"4d91f38.15b0e0c","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":140,"wires":[]},{"id":"2d4bf730.484378","type":"inject","z":"32908a33.d5c126","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["a7862831.531638","7a028659.018ce8"]]},{"id":"a7862831.531638","type":"file in","z":"32908a33.d5c126","name":"","filename":"/tmp/XDot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":280,"wires":[["f1b942f6.f7f8"]]},{"id":"f1b942f6.f7f8","type":"ui_chart","z":"32908a33.d5c126","name":"","group":"b907555e.908968","order":2,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":280,"wires":[[]]},{"id":"7a028659.018ce8","type":"file in","z":"32908a33.d5c126","name":"","filename":"/tmp/TDot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":360,"wires":[["6f6615ca.4bc32c"]]},{"id":"6f6615ca.4bc32c","type":"ui_chart","z":"32908a33.d5c126","name":"","group":"b907555e.908968","order":2,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":360,"wires":[[]]},{"id":"5385868e.6eb9d8","type":"inject","z":"32908a33.d5c126","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":180,"wires":[["67b37eb7.3a33a"]]},{"id":"67b37eb7.3a33a","type":"file in","z":"32908a33.d5c126","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":180,"wires":[["c2986491.3cc948"]]},{"id":"c2986491.3cc948","type":"ui_gauge","z":"32908a33.d5c126","g":"ed54efb2.d6c62","name":"","group":"1ea8fb97.f0f084","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":180,"wires":[]},{"id":"8ad48d40.91bc8","type":"inject","z":"32908a33.d5c126","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":460,"wires":[["aafba714.ff62c8","f8eaa3bc.2d5eb"]]},{"id":"aafba714.ff62c8","type":"file in","z":"32908a33.d5c126","name":"","filename":"/tmp/PDL_NR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":460,"wires":[["8c023358.ce103"]]},{"id":"8c023358.ce103","type":"ui_chart","z":"32908a33.d5c126","name":"","group":"93d5faf4.692358","order":2,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":460,"wires":[[]]},{"id":"f8eaa3bc.2d5eb","type":"file in","z":"32908a33.d5c126","name":"","filename":"/tmp/PDR_NR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":540,"wires":[["153ab8c4.8eea17"]]},{"id":"153ab8c4.8eea17","type":"ui_chart","z":"32908a33.d5c126","name":"","group":"93d5faf4.692358","order":2,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":540,"wires":[[]]},{"id":"f86721f.8bc7ce","type":"inject","z":"bd840c7b.646a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":180,"wires":[["88215176.b277a"]]},{"id":"88215176.b277a","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":180,"wires":[["66540f7c.9994b"]]},{"id":"66540f7c.9994b","type":"ui_gauge","z":"bd840c7b.646a5","g":"538ac7a9.07c398","name":"","group":"977eb849.ce55b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":180,"wires":[]},{"id":"fe25334d.164ef","type":"inject","z":"bd840c7b.646a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":300,"wires":[["59247e98.0b987","498e1d44.c565b4"]]},{"id":"47299fb3.c276c","type":"inject","z":"bd840c7b.646a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":480,"wires":[["926c603e.2cacd","c717bd12.31f9d"]]},{"id":"59247e98.0b987","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Cart_X","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":300,"wires":[["91301a6d.7f5c78"]]},{"id":"498e1d44.c565b4","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Cart_Y","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":360,"wires":[["5497b513.60da2c"]]},{"id":"926c603e.2cacd","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":480,"wires":[["5954ea82.5b0b94"]]},{"id":"c717bd12.31f9d","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/sumVec","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":540,"wires":[["bf4578a8.91e938"]]},{"id":"91301a6d.7f5c78","type":"ui_chart","z":"bd840c7b.646a5","name":"","group":"f83969ff.c78d58","order":1,"width":0,"height":0,"label":"X Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":300,"wires":[[]]},{"id":"5497b513.60da2c","type":"ui_chart","z":"bd840c7b.646a5","name":"","group":"f83969ff.c78d58","order":2,"width":0,"height":0,"label":"Y Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":360,"wires":[[]]},{"id":"5954ea82.5b0b94","type":"ui_gauge","z":"bd840c7b.646a5","name":"","group":"53cc6e77.86395","order":1,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"Degrees","format":"{{value}}","min":"-135","max":"135","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":480,"wires":[]},{"id":"bf4578a8.91e938","type":"ui_chart","z":"bd840c7b.646a5","name":"","group":"53cc6e77.86395","order":2,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":540,"wires":[[]]},{"id":"3846208e.4e493","type":"template","z":"4a1d43f4.ff073c","name":"Create the msg.template to use","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<canvas id=\"bubble-chart\" width=\"1\" height=\"1\"></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 255, 255, 0.3000)\",\n          borderColor: \"rgba(255,255,255,0.3000)\",\n          data: [\n            {{{payload.data1}}}\n          ]\n        },\n        {\n          label: \"{{{payload.legend2}}}\",\n          backgroundColor: \"rgba(255, 0, 0, 0.3000)\",\n          borderColor: \"rgba(255,0,0,0.3000)\",\n          data: [\n            {{{payload.data2}}}\n          ]\n        }\n      ]\n    },\n    options: {\n        animation: false,\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 255, 255)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}',\n        fontColor: 'rgb(255, 255, 255)'\n      }, scales: {\n        yAxes: [{ \n            ticks: {\n                min: -2.5, // minimum value\n                max: 2.5 // maximum value\n            },\n          scaleLabel: {\n            display: true,\n            labelString: \"Y [m]\",\n            fontColor: 'rgb(255, 255, 255)'\n          }\n        }],\n        xAxes: [{ \n            ticks: {\n                min: -2.5, // minimum value\n                max: 2.5 // maximum value\n            },\n          scaleLabel: {\n            display: true,\n            labelString: \"X [m]\",\n            fontColor: 'rgb(255, 255, 255)'\n          }\n        }]\n      }\n    }\n});\n\n</script>\n","output":"str","x":870,"y":260,"wires":[["11b0ec5.6409c14"]]},{"id":"11b0ec5.6409c14","type":"ui_template","z":"4a1d43f4.ff073c","group":"bfbd69a3.7f8268","name":"LIDAR Plot","order":2,"width":10,"height":10,"format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1150,"y":260,"wires":[[]]},{"id":"60e09bd7.202a54","type":"udp in","z":"4a1d43f4.ff073c","name":"SCUTTLE","iface":"","port":"3555","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":180,"y":260,"wires":[["9125df13.c99f4"]]},{"id":"9125df13.c99f4","type":"function","z":"4a1d43f4.ff073c","name":"Build chart payload","func":"var title = \"LIDAR Data\";\nvar legend1 = \"Points\";\nvar legend2 = \"Robot\";\n\nframe = '{x: 0.5, y: -0.25, r: 5},\\\n{x: 0.5, y: 0.25, r: 5},\\\n{x: -0.1, y: 0.25, r: 5},\\\n{x: -0.1, y: -0.25, r: 5},\\\n{x: 0.2, y: -0.25, r: 5},\\\n{x: 0.2, y: 0.25, r: 5},\\\n{x: 0.5, y: 0.0, r: 5},\\\n{x: -0.1, y: 0.0, r: 5},\\\n{x: 0.05, y: 0.25, r: 5},\\\n{x: 0.05, y: -0.25, r: 5},\\\n{x: 0.35, y: 0.25, r: 5},\\\n{x: 0.35, y: -0.25, r: 5},'\n\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"legend2\" : legend2,\n                \"data1\"   : msg.payload,\n                \"data2\"   : frame\n}\n                \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":260,"wires":[["3846208e.4e493"]]},{"id":"1da24f82.6b2d","type":"udp out","z":"4a1d43f4.ff073c","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":970,"y":460,"wires":[]},{"id":"1c3cbe79.a74dc2","type":"json","z":"4a1d43f4.ff073c","name":"","property":"payload","action":"str","pretty":true,"x":790,"y":460,"wires":[["1da24f82.6b2d"]]},{"id":"4eccc3ae.acdc0c","type":"function","z":"4a1d43f4.ff073c","name":"selector","func":"msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["76cb7248.ff826c"]]},{"id":"76cb7248.ff826c","type":"join","z":"4a1d43f4.ff073c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":460,"wires":[["1c3cbe79.a74dc2"]]},{"id":"d0abcfd1.88188","type":"ui_joystick","z":"4a1d43f4.ff073c","name":"Joystick","group":"bfbd69a3.7f8268","order":22,"width":"12","height":"2","trigger":"all","timeInterval":"50","useThemeColor":false,"color":"#f10404","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":230,"y":460,"wires":[["4eccc3ae.acdc0c"]]},{"id":"44770ebe.3adbe","type":"ui_slider","z":"32980006.220a9","name":"","label":"H Min","tooltip":"","group":"cdfc2e26.64916","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"h_min","min":0,"max":"255","step":"5","x":310,"y":120,"wires":[["784d9bca.3a1ff4","24318164.00ebee"]]},{"id":"57ac5031.1bfd","type":"ui_slider","z":"32980006.220a9","name":"","label":"S Min","tooltip":"","group":"cdfc2e26.64916","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"s_min","min":0,"max":"255","step":"5","x":310,"y":280,"wires":[["36f2e614.75bbba","7ae78629.7c5898"]]},{"id":"eb91bdf0.aa434","type":"ui_slider","z":"32980006.220a9","name":"","label":"V Min","tooltip":"","group":"cdfc2e26.64916","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"v_min","min":0,"max":"255","step":"5","x":310,"y":440,"wires":[["a549c5d8.47f4e8","ba29f9ca.4579e8"]]},{"id":"1d75c343.736b7d","type":"ui_slider","z":"32980006.220a9","name":"","label":"H Max","tooltip":"","group":"cdfc2e26.64916","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":"5","x":310,"y":600,"wires":[["c77316a9.c98618","691f3b54.392ab4"]]},{"id":"dbfdd65a.57a958","type":"ui_slider","z":"32980006.220a9","name":"","label":"S Max","tooltip":"","group":"cdfc2e26.64916","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":"5","x":310,"y":760,"wires":[["98a4b7f5.a40688","409ffaf.7a9f604"]]},{"id":"47693504.7b1d9c","type":"ui_slider","z":"32980006.220a9","name":"","label":"V Max","tooltip":"","group":"cdfc2e26.64916","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":"5","x":310,"y":920,"wires":[["df0ed501.d3a848","7fd96026.1f4b4"]]},{"id":"784d9bca.3a1ff4","type":"ui_text","z":"32980006.220a9","group":"826beb48.533878","order":6,"width":0,"height":0,"name":"H Min","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":180,"wires":[]},{"id":"36f2e614.75bbba","type":"ui_text","z":"32980006.220a9","group":"826beb48.533878","order":6,"width":0,"height":0,"name":"S Min","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":340,"wires":[]},{"id":"a549c5d8.47f4e8","type":"ui_text","z":"32980006.220a9","group":"826beb48.533878","order":6,"width":0,"height":0,"name":"V Min","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":500,"wires":[]},{"id":"c77316a9.c98618","type":"ui_text","z":"32980006.220a9","group":"826beb48.533878","order":6,"width":0,"height":0,"name":"H Max","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":660,"wires":[]},{"id":"98a4b7f5.a40688","type":"ui_text","z":"32980006.220a9","group":"826beb48.533878","order":6,"width":0,"height":0,"name":"S Max","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":820,"wires":[]},{"id":"df0ed501.d3a848","type":"ui_text","z":"32980006.220a9","group":"826beb48.533878","order":6,"width":0,"height":0,"name":"V Max","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":980,"wires":[]},{"id":"4aad901a.c4f48","type":"ui_template","z":"32980006.220a9","group":"112a075e.b4c559","name":"Stream","order":6,"width":"6","height":"12","format":"<img src=\"http://192.168.1.115:8090/?action=stream\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":40,"wires":[[]]},{"id":"24318164.00ebee","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/h_min","appendNewline":false,"createDir":false,"overwriteFile":"true","x":510,"y":120,"wires":[[]]},{"id":"7ae78629.7c5898","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/s_min","appendNewline":false,"createDir":false,"overwriteFile":"true","x":510,"y":280,"wires":[[]]},{"id":"ba29f9ca.4579e8","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/v_min","appendNewline":false,"createDir":false,"overwriteFile":"true","x":510,"y":440,"wires":[[]]},{"id":"691f3b54.392ab4","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/h_max","appendNewline":false,"createDir":false,"overwriteFile":"true","x":510,"y":600,"wires":[[]]},{"id":"409ffaf.7a9f604","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/s_max","appendNewline":false,"createDir":false,"overwriteFile":"true","x":510,"y":760,"wires":[[]]},{"id":"7fd96026.1f4b4","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/v_max","appendNewline":false,"createDir":false,"overwriteFile":"true","x":510,"y":920,"wires":[[]]},{"id":"bcf3978e.897848","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/h_min","appendNewline":false,"createDir":false,"overwriteFile":"true","x":290,"y":180,"wires":[[]]},{"id":"56d1c72c.9fd0a8","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/s_min","appendNewline":false,"createDir":false,"overwriteFile":"true","x":290,"y":340,"wires":[[]]},{"id":"ef711ca.9b71be","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/v_min","appendNewline":false,"createDir":false,"overwriteFile":"true","x":290,"y":500,"wires":[[]]},{"id":"c70e813e.89e91","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/h_max","appendNewline":false,"createDir":false,"overwriteFile":"true","x":290,"y":660,"wires":[[]]},{"id":"4d21650a.6400fc","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/s_max","appendNewline":false,"createDir":false,"overwriteFile":"true","x":290,"y":820,"wires":[[]]},{"id":"53f5ebb4.609f14","type":"file","z":"32980006.220a9","name":"","filename":"/tmp/v_max","appendNewline":false,"createDir":false,"overwriteFile":"true","x":290,"y":980,"wires":[[]]},{"id":"969d630.7145fa","type":"inject","z":"32980006.220a9","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":110,"y":120,"wires":[["bcf3978e.897848","44770ebe.3adbe"]]},{"id":"f626c359.7f805","type":"inject","z":"32980006.220a9","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":110,"y":280,"wires":[["56d1c72c.9fd0a8","57ac5031.1bfd"]]},{"id":"bad8dea.ba2072","type":"inject","z":"32980006.220a9","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":110,"y":440,"wires":[["ef711ca.9b71be","eb91bdf0.aa434"]]},{"id":"a69f28b6.819258","type":"inject","z":"32980006.220a9","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"255","payloadType":"num","x":110,"y":600,"wires":[["c70e813e.89e91","1d75c343.736b7d"]]},{"id":"d5bf52f1.4582e","type":"inject","z":"32980006.220a9","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"255","payloadType":"num","x":110,"y":760,"wires":[["4d21650a.6400fc","dbfdd65a.57a958"]]},{"id":"d4468fd.bb11c7","type":"inject","z":"32980006.220a9","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"255","payloadType":"num","x":110,"y":920,"wires":[["53f5ebb4.609f14","47693504.7b1d9c"]]},{"id":"4a609f6b.fb786","type":"function","z":"1f2293d3.a3d93c","name":"selector","func":"msg.topic = \"shape\"\nmsg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":120,"wires":[[]]},{"id":"52756786.0f4988","type":"json","z":"1f2293d3.a3d93c","name":"","property":"payload","action":"str","pretty":true,"x":610,"y":240,"wires":[["eef42492.489e48"]]},{"id":"eef42492.489e48","type":"udp out","z":"1f2293d3.a3d93c","g":"f1ffebcd.642478","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":790,"y":240,"wires":[]},{"id":"ffd5c41d.25dde8","type":"ui_button","z":"1f2293d3.a3d93c","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"passthru":false,"label":"Square","tooltip":"","color":"","bgcolor":"","icon":"","payload":"square","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":160,"wires":[["52756786.0f4988"]]},{"id":"6ef32095.add96","type":"ui_button","z":"1f2293d3.a3d93c","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"passthru":false,"label":"Circle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"circle","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":220,"wires":[["52756786.0f4988"]]},{"id":"d7e6228d.0cc23","type":"ui_button","z":"1f2293d3.a3d93c","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"passthru":false,"label":"Triangle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"triangle","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":300,"wires":[["52756786.0f4988"]]},{"id":"88c9e80.4fd0018","type":"ui_button","z":"1f2293d3.a3d93c","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"passthru":false,"label":"S-Shape","tooltip":"","color":"","bgcolor":"","icon":"","payload":"s-shape","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":360,"wires":[["52756786.0f4988"]]}]