mxet300_lab/Node-RED_Flows/Lab 2 Flow.json
[{"id":"ee1a8b07.322c58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c73f4b2.c3e11b8","type":"group","z":"ee1a8b07.322c58","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b7dd63d5.eb31a"],"x":714,"y":179,"w":212,"h":82},{"id":"b7dd63d5.eb31a","type":"ui_gauge","z":"ee1a8b07.322c58","g":"c73f4b2.c3e11b8","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":220,"wires":[]},{"id":"456e45d2.03f09c","type":"inject","z":"ee1a8b07.322c58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":220,"wires":[["40da4c24.aa0194"]]},{"id":"40da4c24.aa0194","type":"file in","z":"ee1a8b07.322c58","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":320,"wires":[["b7dd63d5.eb31a"]]},{"id":"5a97f8a5.7eafb8","type":"ui_group","name":"Robot Diagnostics","tab":"67410347.ad2b7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"67410347.ad2b7c","type":"ui_tab","name":"Lab 2","icon":"dashboard","disabled":false,"hidden":false}]