mxet300_lab/Node-RED_Flows/Lab4flow.json
[{"id":"a8c6970c.81bb88","type":"tab","label":"Lab 4 - Motor Drivers & Inverse Kinematics","disabled":false,"info":""},{"id":"4d91f38.15b0e0c","type":"group","z":"a8c6970c.81bb88","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6b8d1bf2.b36334"],"x":694,"y":99,"w":212,"h":82},{"id":"d1d7c0b4.66f3c","type":"inject","z":"a8c6970c.81bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["4f2f72f0.44eb6c","88e0e67f.7d5708"]]},{"id":"4f2f72f0.44eb6c","type":"file in","z":"a8c6970c.81bb88","name":"","filename":"/tmp/fVel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":240,"wires":[["afcc7981.c41218"]]},{"id":"afcc7981.c41218","type":"ui_chart","z":"a8c6970c.81bb88","name":"","group":"f2c4634c.02685","order":2,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":240,"wires":[[]]},{"id":"88e0e67f.7d5708","type":"file in","z":"a8c6970c.81bb88","name":"","filename":"/tmp/aVel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":320,"wires":[["1d6268d2.934a47"]]},{"id":"1d6268d2.934a47","type":"ui_chart","z":"a8c6970c.81bb88","name":"","group":"f2c4634c.02685","order":2,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":320,"wires":[[]]},{"id":"90f2018.57fdf","type":"inject","z":"a8c6970c.81bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[["965b35a8.e5f6e8"]]},{"id":"965b35a8.e5f6e8","type":"file in","z":"a8c6970c.81bb88","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":140,"wires":[["6b8d1bf2.b36334"]]},{"id":"6b8d1bf2.b36334","type":"ui_gauge","z":"a8c6970c.81bb88","g":"4d91f38.15b0e0c","name":"","group":"5a97f8a5.7eafb8","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":140,"wires":[]},{"id":"f2c4634c.02685","type":"ui_group","name":"Chassis Speed","tab":"c24ce1de.b2f11","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a97f8a5.7eafb8","type":"ui_group","name":"Robot Diagnostics","tab":"c24ce1de.b2f11","order":1,"disp":true,"width":"6","collapse":false},{"id":"c24ce1de.b2f11","type":"ui_tab","name":"Lab 4","icon":"dashboard","disabled":false,"hidden":false}]