mxet300_lab/Node-RED_Flows/Lab_6_flow.json
[{"id":"bd840c7b.646a5","type":"tab","label":"Lab 6","disabled":false,"info":""},{"id":"538ac7a9.07c398","type":"group","z":"bd840c7b.646a5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["66540f7c.9994b"],"x":674,"y":139,"w":212,"h":82},{"id":"f86721f.8bc7ce","type":"inject","z":"bd840c7b.646a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":180,"wires":[["88215176.b277a"]]},{"id":"88215176.b277a","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Volt_NodeRED","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":180,"wires":[["66540f7c.9994b"]]},{"id":"66540f7c.9994b","type":"ui_gauge","z":"bd840c7b.646a5","g":"538ac7a9.07c398","name":"","group":"977eb849.ce55b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":180,"wires":[]},{"id":"fe25334d.164ef","type":"inject","z":"bd840c7b.646a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":300,"wires":[["59247e98.0b987","498e1d44.c565b4"]]},{"id":"47299fb3.c276c","type":"inject","z":"bd840c7b.646a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":480,"wires":[["926c603e.2cacd","c717bd12.31f9d"]]},{"id":"59247e98.0b987","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Cart_X","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":300,"wires":[["91301a6d.7f5c78"]]},{"id":"498e1d44.c565b4","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Cart_Y","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":360,"wires":[["5497b513.60da2c"]]},{"id":"926c603e.2cacd","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/Heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":480,"wires":[["5954ea82.5b0b94"]]},{"id":"c717bd12.31f9d","type":"file in","z":"bd840c7b.646a5","name":"","filename":"/tmp/sumVec","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":540,"wires":[["bf4578a8.91e938"]]},{"id":"91301a6d.7f5c78","type":"ui_chart","z":"bd840c7b.646a5","name":"","group":"f83969ff.c78d58","order":1,"width":0,"height":0,"label":"X Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":300,"wires":[[]]},{"id":"5497b513.60da2c","type":"ui_chart","z":"bd840c7b.646a5","name":"","group":"f83969ff.c78d58","order":2,"width":0,"height":0,"label":"Y Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":360,"wires":[[]]},{"id":"5954ea82.5b0b94","type":"ui_gauge","z":"bd840c7b.646a5","name":"","group":"53cc6e77.86395","order":1,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"Degrees","format":"{{value}}","min":"-135","max":"135","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":480,"wires":[]},{"id":"bf4578a8.91e938","type":"ui_chart","z":"bd840c7b.646a5","name":"","group":"53cc6e77.86395","order":2,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":540,"wires":[[]]},{"id":"977eb849.ce55b8","type":"ui_group","name":"Robot Diagnostics","tab":"85b069dc.e411a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f83969ff.c78d58","type":"ui_group","name":"Cartesian Coordinates","tab":"85b069dc.e411a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"53cc6e77.86395","type":"ui_group","name":"Polar Coordinates","tab":"85b069dc.e411a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"85b069dc.e411a8","type":"ui_tab","name":"Lab 6","icon":"dashboard","order":6,"disabled":false,"hidden":false}]